<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mulyadifamily.bisyaraapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Percakapan_3Activity"
            android:parentActivityName=".PercakapanActivity" ></activity>
        <activity android:name=".Percakapan_2Activity"
            android:parentActivityName=".PercakapanActivity" />
        <activity android:name=".Percakapan_1Activity"
            android:parentActivityName=".PercakapanActivity" />
        <activity android:name=".kata_3_Activity"
            android:parentActivityName=".Kata_Activity" />
        <activity android:name=".kata_2_Activity"
            android:parentActivityName=".Kata_Activity" />
        <activity android:name=".kata_1_Activity"
            android:parentActivityName=".Kata_Activity" />
        <activity android:name=".Kata_Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PercakapanActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Warna_Kuning"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_Ungu"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_Putih"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_Emas"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_Hitam"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_HIjau"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_Merah"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Warna_Biru"
            android:parentActivityName=".WarnaActivity" />
        <activity
            android:name=".Tanya_Siapa"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Tanya_Mengapa"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Tanya_Kapan"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Tanya_Dimana"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Tanya_Bagaimana"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Tanya_Apakabar"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Tanya_Apa"
            android:parentActivityName=".TanyaActivity" />
        <activity
            android:name=".Hari_Kamis"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Hari_Rabu"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Hari_Selasa"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Hari_Senin"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Hari_Minggu"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Hari_Sabtu"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Hari_Jumat"
            android:parentActivityName=".HariActivity" />
        <activity
            android:name=".Bulan_DesemberActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_NovemberActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_OktoberActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_SeptemberActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_AgustusActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_JuliActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_JuniActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_MeiActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_AprilActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_MaretActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_FebruariActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Bulan_JanuariActivity"
            android:parentActivityName=".BulanActivity" />
        <activity
            android:name=".Angka_20Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_19Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_18Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_17Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_16Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_15Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_14Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_13Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_12Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_11Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_10Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_9Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_8Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_7Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_6Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_5Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_4Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_3Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_2Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".Angka_1Activity"
            android:parentActivityName=".AngkaActivity" />
        <activity
            android:name=".abjad_Z_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_Y_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_X_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_W_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_V_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_U_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_T_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_S_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_R_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_Q_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_P_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_O_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_N_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_M_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_L_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_K_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_J_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_I_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_H_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_G_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_F_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_E_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_D_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_C_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".abjad_B_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".WarnaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TanyaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BulanActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HariActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AngkaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".abjad_A_Activity"
            android:parentActivityName=".AbjadActivity" />
        <activity
            android:name=".AbjadActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>